* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

#factory-door {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    background-color: white;
}

#factory-interface {
    width: 900px;
    height: 800px;
    border: 2px solid black;
    display: flex;
}

#stats {
    width: 30%;
    height: 100%;
}

#factory-heart {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#counter-div {
    display: flex;
    width: 50%;
    margin-left: 20%;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#croc-img-div {
    width: 500px;
    height: 500px;
}

#croc-img-div img {
    width: 100%;
    height: 100%;
}

#info-div {
    position: fixed;
    bottom: 0;
    right: 0;
}

#info-div > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#info-div > div > div {
    border: 2px solid black;
}

#info-img {
    width: 50px;
    height: 50px;
}

#info-img:hover,
#info-toggle:not(.hidden) + #info-img {
    background-color: lightgray;
    border-radius: 50%;
}

#manage-data-div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}