* {
    box-sizing: border-box;
    font-family: "Comic Relief", Arial, sans-serif;
}

.hidden {
    display: none !important;
}

#factory-door {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    background-color: white;
}

#factory-interface {
    width: 900px;
    height: 800px;
    border: 2px solid black;
    display: flex;
}

#stats {
    width: 30%;
    height: 100%;
}

#factory-heart {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#counter-div {
    display: flex;
    width: 50%;
    margin-left: 20%;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#croc-img-div {
    width: 500px;
    height: 500px;
}

#croc-img-div img {
    width: 100%;
    height: 100%;
}

#combo-div {
    width: 500px;
    height: 100px;
    border: 2px solid black;
    display: flex;
}

#combo-bar {
    flex-grow: 1;
    margin: 40px 5px 5px;
    border: 2px solid black;
    border-radius: 25%;
    background-image: linear-gradient(to right, green 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease-in-out;
}

#combo-bar.one {
    background-position: 90%;
}

#combo-bar.two {
    background-position: 80%;
}

#combo-bar.three {
    background-position: 70%;
}

#combo-bar.four {
    background-position: 60%;
}

#combo-bar.five {
    background-position: 50%;
}

#combo-bar.six {
    background-position: 40%;
}

#combo-bar.seven {
    background-position: 30%;
}

#combo-bar.eight {
    background-position: 20%;
}

#combo-bar.nine {
    background-position: 10%;
}

#combo-bar.full {
    background-position: 0%;
    animation: rainbow-rotate0 2s linear infinite;
}

.rainbow-animation0 {
    animation: rainbow-rotate0 4s linear infinite;
}

.rainbow-animation1 {
    animation: rainbow-rotate1 4s linear infinite;
}

.rainbow-animation2 {
    animation: rainbow-rotate2 4s linear infinite;
}

@keyframes rainbow-rotate0 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rainbow-rotate1 {
    0% {
        filter: hue-rotate(120deg);
    }

    67% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(120deg);
    }
}

@keyframes rainbow-rotate2 {
    0% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(180deg);
    }
}

#info-div {
    position: fixed;
    bottom: 0;
    right: 0;
}

#info-div > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#info-div > div > div {
    border: 2px solid black;
}

#info-img {
    width: 50px;
    height: 50px;
}

#info-img:hover,
#info-toggle:not(.hidden) + #info-img {
    background-color: lightgray;
    border-radius: 50%;
}

#manage-data-div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}