* {
    box-sizing: border-box;
    font-family: "Comic Relief", Arial, sans-serif;
    user-select: none;
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    flex-flow: row wrap;
    width: 1405px;
}

#factory-door {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
    background-color: white;
}

#factory-interface {
    width: 900px;
    height: 800px;
    border: 2px solid black;
    display: flex;
}

#stats {
    width: 30%;
    height: 100%;
}

#factory-heart {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#counter-div {
    display: flex;
    width: 50%;
    margin-left: 20%;
    flex-flow: column nowrap;
    align-items: flex-start;
}

#croc-img-div {
    width: 500px;
    height: 500px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 50%;
}

#croc-img-div img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    object-fit: fill;
    object-position: center;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    user-select: none;
}

#croc-img-div img:hover {
    transform: scale(1.4);
    cursor: pointer;
}

#croc-img-div:has(img:hover) {
    background-color: lightblue;
}

.clickIP {
    background-color: blue !important;
}

#factory-interface:has(+ #combo-column #combo-bar.full) #croc-img-div {
    animation: rainbow-rotate2 3s linear infinite, shadowBounce 1s linear infinite, shadowPulse 0.3s ease-in-out infinite;
}

#factory-interface:has(+ #combo-column #combo-bar.full) #croc-img-div img {
    animation: rainbow-rotate1 2s linear infinite;
}

@keyframes shadowBounce {
    0% {
        box-shadow: 0 0 0 40px gold;
    }
    50% {
        box-shadow: 0 0 0 80px gold;
        width: 550px;
    }
    100% {
        box-shadow: 0 0 0 40px gold;
    }
}

@keyframes shadowPulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

#combo-div {
    width: 500px;
    height: 100px;
    border: 2px solid black;
    display: flex;
}

#combo-bar {
    flex-grow: 1;
    margin: 40px 5px 5px;
    border: 4px solid black;
    border-radius: 25%;
    background-image: linear-gradient(to right, green 50%, white 50%);
    background-size: 200% 100%;
    transition: background-position 0.1s linear;
}

#combo-bar.full {
    background-position: 0%;
    animation: rainbow-rotate0 2s linear infinite;
}

#combo-bar p {
    position: relative;
    top: -50px;
    text-align: center;
}

#combo-bar.full p {
    animation: pulsate 0.8s linear infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.6) rotate(4deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    75% {
        transform: scale(1.6) rotate(-4deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.rainbow-animation0 {
    animation: rainbow-rotate0 4s linear infinite;
}

.rainbow-animation1 {
    animation: rainbow-rotate1 4s linear infinite;
}

.rainbow-animation2 {
    animation: rainbow-rotate2 4s linear infinite;
}

@keyframes rainbow-rotate0 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rainbow-rotate1 {
    0% {
        filter: hue-rotate(120deg);
    }

    100% {
        filter: hue-rotate(480deg);
    }
}

@keyframes rainbow-rotate2 {
    0% {
        filter: hue-rotate(240deg);
    }

    100% {
        filter: hue-rotate(600deg);
    }
}

#info-div {
    position: fixed;
    bottom: 0;
    right: 0;
}

#info-div > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#info-div > div > div {
    border: 2px solid black;
}

#info-img {
    width: 50px;
    height: 50px;
}

#info-img:hover,
#info-toggle:not(.hidden) + #info-img {
    background-color: lightgray;
    border-radius: 50%;
}

#manage-data-div {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#event-modal > div {
    display: flex;
    flex-flow: row nowrap;
}

#event-modal > div > div:first-child {
    width: 300px;
}

#event-modal > div > div:nth-child(2) {
    width: 400px;
    height: 550px;
}

#event-modal img {
    max-height: 450px;
    margin-bottom: 30px;
    display: block;
}

#event-modal button {
    font-size: 1.2rem;
}

#particle-div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 3rem;
    text-align: center;
    animation: particle-animation 2s ease-out forwards;
}

@keyframes particle-animation {
    0% {
        transform: translate(0, 0), scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(20px, -100px) scale(0);
        opacity: 0;
    }
}

#combo-column {
    display: flex;
    flex-flow: column wrap;
}

#shop-sign {
    width: 100%;
    height: 150px;
    background-color: red;
    border-top: 4px solid black;
    border-right: 6px solid black;
    border-left: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#shop-div {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    border-left: 4px solid black;
    border-right: 6px solid black;
}

.purchase-info {
    width: 70%;
    height: 80px;
    background-color: orange;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.purchase-btn {
    width: 30%;
    height: 80px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#active-entities-div {
    display: flex;
}